
{{ define "UsageBackup" }}

{{- template "AppUsage" }}
COMMAND:
    backup

SUBCOMMAND:
    dashboard, report, history

OPTIONS:
    --key=[string] 

EXAMPLES:
    $ scknobb all --key=secret1234
    
    $ scknobb dashboard --key=secret1234
    $ scknobb report --key=secret1234
    $ scknobb history --key=secret1234

{{end}}

